<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel='shortcut icon' type='image/png' href='static/favicon.png'>
    <link rel="stylesheet" href="static/homepage.css">
    <a href= "/homepage">
    <img id=logo src="static/spiral-up.png">
    </a>
  </head>
  <body>

    <div id="icontitle">
    <a id="spiral-up" href='/homepage'> Spiral-up</a>
  </div>
  <div>
    <nav role='navigation'>
        <div id="menuToggle">

          <input type="checkbox" />
          <span style="background:black;"></span>
          <span style="background:black;"></span>
          <span style="background:black;"></span>
          <ul id="menu">
            <a href="/homepage"><li>Home</li></a>
            <a href="/dailylog"><li>Daily Log</li></a>
            <a href="/about"><li>About</li></a>
          </ul>

        </div>
      </nav>

  </div>
    </div>
  <div class = "section">
    <h1> Our Mission </h1>
    <h2 id=promote> To promote emotional well being. </h2>
  <h1> What is Mental Health? </h1>
    <h2>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.</h2>
    <h1> About the Application</h1>
    <h2> We created an application that enables our users to easily track their daily emotions so that they have a tool to measure their emotional well being and mental health during the day. </h2>
  </div>
  </body>
</html>
