<head>
  LOGS!
  <link rel="stylesheet" href="logs.css">
</head>
<body>
  <nav role='navigation'>
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/leaderboard"><li>Leaderboards</li></a>
          <a href="/input"><li>Input data</li></a>
          <a href="#"><li>Profile</li></a>
          <a href="/logout"><li>Sign out</li></a>
        </ul>

      </div>
    </nav>
  <section class="title-bar">
    <button class="title-bar__burger">
      <span class="burger__lines">Toggle Menu</span>
    </button>
    <span class="title-bar__year">
      Calendar > {{month}} {{year}}
    </span>
    <span class="title-bar__month">
      Month
    </span>
    <div class="title-bar__controls">
      <div class="title-bar__minimize"></div>
      <div class="title-bar__maximize"></div>
      <div class="title-bar__close"></div>
    </div>
  </section>
  <div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>{{month}}<br><span style="font-size:18px">{{year}}</span></li>
    </ul>
  </div>

  <ul id="calendar_holder">
    <table cellspacing="0" width='100%' height='100%'>
      <tr class="weekdays">
        <td><li>Mo</li></td>
        <td><li>Tu</li></td>
        <td><li>We</li></td>
        <td><li>Th</li></td>
        <td><li>Fr</li></td>
        <td><li>Sa</li></td>
        <td><li>Su</li></td>
      </tr>
      {% for week in weeks_in_month %}
      <tr>
        {% for day in week %}
        <td class="row button{{day}}"><button class="button">{{day}}</button></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </ul>
  </body>
