<html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="static/homepage.css">
  <script src="static/homepage.js" type="text/javascript"></script>
</head>

<body>
<div id = "wrapper1">
  <button class = "button" id ="button1">Angry</button>
  <button class = "button" id ="button2">Sad</button>
  <button class = "button" id ="button3">Happy</button>

</div>
<div id = "wrapper2">
  <button class = "button" id = "button4">Annoyed</button>
  <button class = "button" id = "button5">Tired</button>
  <button class = "button" id = "button6">Excited</button>
</div>
</body>
</html>
